/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

.hint-overlay {
  position: absolute;
  display: grid;
  place-items: center;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1rem;
  backdrop-filter: blur(3px);
  transition: all 0.25s ease-in-out;
}

.hint-overlay:hover {
  box-shadow: 0 0 5px 2px rgb(0 0 0 / 75%);
}

.hint-modal {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
}
